[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
pandas = "*"
autopep8 = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
matplotlib = "*"
category-encoders = "*"

[requires]
python_version = "3.8"
